aiogram==3.1.0
loguru==0.7.2
pydantic==1.10.9
redis==4.6.0
rq==1.15.1
pyTelegramBotAPI==4.13.0
browser-cookie3==0.19.1
quickjs==1.19.2
websockets==11.0.3
curl-cffi==0.5.7
asyncpg==0.28.0
SQLAlchemy==2.0.20
typer==0.9.0
pyjsparser==2.7.1
httpx==0.25.0
pycryptodome==3.19.0
pycryptodomex==3.19.0
js2py
